@charset "UTF-8";
:root {
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #171616;
}

body {
  padding: 30px calc(18% + 30px) 500px calc(18% + 30px);
  background-color: #cecece;
  transition-property: padding;
  transition-duration: 0.5s;
}
body.nopadizq {
  padding-left: 50px;
}
body.nopaddcha {
  padding-right: 50px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

p, a, h4, h5 {
  font-size: 1rem;
}

h1 {
  font-weight: 500;
  font-size: 1.9rem;
  margin-bottom: 50px;
  display: inline-block;
}
h1::after {
  content: "";
  display: block;
  width: 30%;
  height: 3px;
  background-color: #faae00;
}

h2 {
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 25px;
}

h3 {
  font-weight: 600;
  position: relative;
  display: inline-block;
  margin-bottom: 25px;
}
h3::after {
  content: "";
  display: block;
  width: 60%;
  height: 3px;
  background-color: #faae00;
}

h4 {
  font-weight: 500;
}

h5 {
  font-weight: 600;
  margin-bottom: 25px;
  font-size: 1.2rem;
}

p {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

/*Elementos generales*/
.btn {
  display: inline-block;
  color: #171616;
  background-color: #faae00;
  padding: 10px 14px;
  margin-bottom: 20px;
  border: 2px solid #faae00;
}
.btn:hover {
  background-color: transparent;
}

.lista {
  list-style-position: inside;
}
.lista li {
  margin-bottom: 10px;
}

.tarjeta {
  border-left: 5px solid #faae00;
  padding: 25px;
  box-shadow: 1px 1px 5px #A6A6A6;
  flex: 1;
  margin-bottom: 50px;
  background-color: white;
}
.tarjeta h4 {
  font-size: 1.2rem;
  margin-bottom: 25px;
}

/*Fin elementos generales*/
/*Flex*/
.flex {
  display: flex;
}

.fdcolumn {
  flex-direction: column;
}

.jcenter {
  justify-content: center;
}

.jbetween {
  justify-content: space-between;
}

.acenter {
  align-items: center;
}

.astart {
  align-items: flex-start;
}

/*Fin flex*/
/*Grid*/
.fila {
  margin-bottom: 50px;
  display: flex;
}
.fila.pad {
  padding: 25px;
  box-shadow: inset 1px 1px 5px #A6A6A6;
  background-color: white;
}
.fila.gut .columna:not(:last-child), .fila.gut .tarjeta:not(:last-child) {
  margin-right: 25px;
}
.fila .columna {
  flex: 1;
  padding: 25px;
}
.fila .columna.ejemplo {
  height: 300px;
  background-color: #faae00;
  border: 1px solid #171616;
}
.fila .columna > img {
  display: block;
  width: 100%;
}

/*Fin grid*/
/*Menú*/
.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 18%;
  background-color: #F2F2F2;
  box-shadow: 1px 1px 5px #A6A6A6;
  padding: 40px 0px 40px 32px;
  transition-property: left;
  transition-duration: 0.5s;
}
.menu.oculto {
  left: -18%;
}
.menu h3 {
  font-size: calc(0.9rem * 1.2);
}
.menu .togglemenu {
  background-color: #F2F2F2;
  position: absolute;
  top: 50%;
  right: -44px;
  cursor: pointer;
  box-shadow: 1px 1px 5px #A6A6A6;
  padding: 10px 14px;
  font-size: 1.1rem;
}
.menu .logo {
  display: inline-block;
}
.menu .logo svg {
  width: 60px;
  margin-bottom: 50px;
}
.menu .indice {
  counter-reset: section;
  width: 100%;
}
.menu .indice .apartado {
  margin-bottom: 20px;
  counter-reset: subsection;
}
.menu .indice .apartado:first-child .subapartado {
  display: block;
}
.menu .indice .apartado .apartit {
  position: relative;
  cursor: pointer;
  font-size: 0.9rem;
}
.menu .indice .apartado .apartit::before {
  counter-increment: section;
  content: counters(section, ".") "- ";
}
.menu .indice .apartado .apartit i {
  right: 20px;
  top: 6px;
  position: absolute;
  transform: rotate(0deg);
  transition: 0.25s;
}
.menu .indice .apartado .apartit i.activo {
  transform: rotate(90deg);
}
.menu .indice .apartado .subapartado {
  display: none;
}
.menu .indice .apartado .punto {
  display: block;
  list-style: none;
  padding: 8px 0px 10px 25px;
  border-left: 1px solid gray;
  font-size: 0.9rem;
}
.menu .indice .apartado .punto::before {
  counter-increment: subsection;
  content: counter(section) "." counters(subsection, ".") "- ";
}
.menu .util {
  position: absolute;
  bottom: 0;
}
.menu .util div {
  height: 50px;
  width: 50px;
  border: 1px solid #cecece;
  cursor: pointer;
}
.menu .util div.pequenotoggle {
  font-size: 0.9rem;
}
.menu .util div.grandetoggle b {
  font-size: 1.4rem;
}

.indicedcha {
  position: fixed;
  top: 0;
  right: 0;
  width: 18%;
  box-shadow: 1px 1px 5px #A6A6A6;
  height: 100vh;
  background-color: #F2F2F2;
  padding: 40px 20px 40px 30px;
  transition-property: right;
  transition-duration: 0.5s;
}
.indicedcha.oculto {
  right: -18%;
}
.indicedcha h5 {
  margin-bottom: 25px;
  font-size: calc(0.9rem * 1.2);
}
.indicedcha h5 i {
  margin-right: 10px;
}
.indicedcha .togglemenu {
  background-color: #F2F2F2;
  position: absolute;
  top: 50%;
  left: -44px;
  cursor: pointer;
  box-shadow: 1px 1px 5px #A6A6A6;
  padding: 10px 14px;
  font-size: 1.1rem;
}
.indicedcha .indicecont {
  counter-reset: indice;
  border-left: 1px solid #cecece;
}
.indicedcha .indicecont .punto {
  font-size: 0.9rem;
  font-size: 0.9rem;
  padding: 12px 15px 12px 10px;
  display: block;
}
.indicedcha .indicecont .punto.activo {
  border-left: 2px solid #faae00;
  box-shadow: 1px 1px 5px #A6A6A6;
}
.indicedcha .indicecont .punto::before {
  counter-increment: indice;
  content: counters(indice, ".") "- ";
  display: inline-block;
}

/*Fin menú*/
/*Main*/
main {
  width: 100%;
  padding: 30px;
  background-color: #F2F2F2;
  box-shadow: 1px 1px 5px #A6A6A6;
}
main h2 {
  margin-top: 50px;
}
main#componentes .tarjeta:hover, main#componentes .lista:hover, main#componentes .btn:hover, main#componentes .fila:hover {
  cursor: url(img/documents32.png), auto;
}

/*Fin main*/